body{
    .logoTop{
        width: 250px;
        display: flex;
        align-items: center;
        margin: auto;
        margin-top: 50PX;
    }

    .centered-button {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        
        a{
            border-radius: 10px;
            padding: 15PX 40PX;
        }
    }
    .post--vrapper{
        display: flex;
    }

    h1{
        text-align: center;
        margin: 0 auto;
        font-size: 37px;
        width: 80%;
        margin-top: 50px;
    }

    .searchbar{
        width: 100%;
        margin: 100px auto;
        
        select{
            width: 15%;
            background: white;
            border: solid 1px black;
            outline: none;
            border-radius: 50px 0 0 50px;
            padding: 15px 30px;
            font-size: 20px;
            font-weight: 500;
            line-height: 130%;
        }
        input[type=text]{
            width: 75%;
            border-radius: 0;
            border: none;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            font-size: 20px;
            font-weight: 500;
            line-height: 130%;

            &::placeholder{
                color: #ababab;
            }

            &:focus{
                outline: none;
            }
        }
        input[type=submit]{
            font-size: 20px;
            font-weight: 500;
            line-height: 130%;
            border: 1px solid #2F7ABE;
            background-color: white;
            border-radius: 0 50px 50px 0;
            width: 15%;
            background-color: #2F7ABE;
            color: white;
            cursor: pointer;
        }
    }
    

    
    .subjects {
        
        .subject-selectors{
            display: flex;
            gap: 1px;
            
            .selector{
                border: 1px solid black;
                padding: 25px;
                font-size: 20px;
                margin-bottom: 2px;
            }    
        }

        &.trending-subjects{
            .subject-selectors{
                .trending-topics {
                    text-align: center;
                    color: white;
                    background-color: #2F7ABE;
                }
                .recent-topics {
                    text-align: center;
                    background-color: #D9D9D9;
                }
            }
        }
        &.recent-subjects{
            margin-bottom: 100px;
            
            .subject-selectors{
                .recent-topics {
                    text-align: center;
                    color: white;
                    background-color: #2F7ABE;
                }
                .trending-topics {
                    text-align: center;
                    background-color: #D9D9D9;
                }
            }
        }  
    }
}