/*IMPORTS AND VARIABLES*/
@import "./variables.scss";

/*MAIN CLASSES*/
label.required-field::after{
    content: "*";
    color: red;
}

/*MAIN STYLES & COMPONENTS*/
h1,h2,h3,h4,h5,h6,p,input,select,option,a, button{
    font-family: $font-main;
}

a{
    text-decoration: none;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
    } 
}

input{
    border: none;
    border-bottom: $neutral--100 solid 2px;
    padding: .8rem;
    background-color: $black--main;
    outline: none;
    border-radius: 5px 5px 0 0;
    transition: all ease-in-out .2s;
    
    &:placeholder-shown{
        border-radius: 5px;
        color: $neutral--100;
        border: none;
        outline: none;
    }

    &:focus{
        border-bottom: $primary--500 solid 2px;
        border-radius: 5px 5px 0 0;
    }
    &.error{
        border-bottom: red solid 2px;
        background-color: #430505 !important;
        border-radius: 5px 5px 0 0;
    }
}

.errorFormMsg{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    transition: all ease-in-out .2s;
}

.primary-button{
    background-color: $primary--500;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 16px;
    color: $neutral--100;
    border-radius: 5px;
    cursor: pointer;

    &.blocked{
        background: $neutral--500;
        cursor: not-allowed;
    }
}  