@import url(https://fonts.googleapis.com/css?family=Inter);
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.ai-c {
  align-items: center;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.underline {
  text-decoration: underline;
}

.content {
  max-width: 80%;
  margin: 0 auto;
}

.button-primary {
  background-color: #2F7ABE;
  color: white;
  font-family: "Inter", serif;
  display: inline-block;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  box-sizing: border-box;
  transition: all ease-in-out 0.15s;
}
.button-primary:hover {
  cursor: pointer;
  background-color: #154c80;
}

.button-secondary {
  background-color: white;
  color: #2F7ABE;
  font-family: "Inter", serif;
  display: inline-block;
  border: 3px solid #2F7ABE;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  text-align: center;
  transition: all ease-in-out 0.15s;
}
.button-secondary:hover {
  cursor: pointer;
  background-color: #2F7ABE;
  color: white;
}

input {
  border-radius: 50px;
  padding: 10px 20px;
  border: 3px solid #2F7ABE;
  font-family: "Inter", serif;
}
input.error {
  border-color: red;
  background-color: #FFD6D6;
}
input::-moz-placeholder {
  font-size: 14px;
  color: #636363;
}
input::placeholder {
  font-size: 14px;
  color: #636363;
}

label {
  margin: 5px 0;
  position: relative;
}
label.requiredInputLabel::before {
  content: "* ";
  color: red;
}
label span.errorSpanMsg {
  display: block;
  color: red;
  font-size: 12px;
}

.info-upload {
  font-size: 12px;
  color: #636363;
  margin-bottom: 2px;
}

.topic {
  background: none;
  width: 100%;
  display: flex;
  align-items: end;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 12px;
}
.topic .content-topic {
  width: 80%;
}
.topic .content-topic .title-topic {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.14px;
}
.topic .likes-topic {
  width: 20%;
  display: flex;
  justify-content: end;
}

.page-title {
  background-color: #2F7ABE;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 0 0 80px 0;
  justify-content: center;
  margin-bottom: 80px;
}
.page-title h1 {
  color: white;
  font-size: 48px;
}
.page-title i {
  color: white;
  font-size: 36px;
}

#info-toast {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  border-radius: 3px;
  border-bottom: solid 3px green;
  background: #f4f4f4;
  box-shadow: #d2d2d2 0px 0px 10px 1px;
  transition: all ease-in-out 0.2s;
}
#info-toast .flex {
  gap: 10px;
}
#info-toast .flex i {
  color: green;
  font-size: 18px;
}
#info-toast:hover {
  cursor: pointer;
  transform: translate(-50%, -10px);
}

header {
  background-color: #2F7ABE;
  padding: 24px 42px;
}
header img {
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav > a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 24.7px;
  font-weight: 600;
  border: solid 1px white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all ease-in-out 0.15s;
}
header nav > a:hover {
  background-color: white;
  color: #2F7ABE;
}
header nav .nav-menu--wrapper {
  display: none;
}
header nav.user_is_logged_in #loginNavButton {
  display: none;
}
header nav.user_is_logged_in #registerNavButton {
  display: none;
}
header nav.user_is_logged_in .nav-menu--wrapper {
  display: block;
  position: relative;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
  transition: all ease-in-out 0.15s;
}
header nav.user_is_logged_in .nav-menu--wrapper:hover {
  background-color: white;
}
header nav.user_is_logged_in .nav-menu--wrapper:hover .profilPic--wrapper i {
  color: #2F7ABE;
}
header nav.user_is_logged_in .nav-menu--wrapper:hover .profilPic--wrapper p {
  color: black;
}
header nav.user_is_logged_in .nav-menu--wrapper .profilPic--wrapper {
  gap: 10px;
}
header nav.user_is_logged_in .nav-menu--wrapper .profilPic--wrapper img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav.user_is_logged_in .nav-menu--wrapper .profilPic--wrapper p {
  color: white;
}
header nav.user_is_logged_in .nav-menu--wrapper .profilPic--wrapper i {
  color: rgb(255, 255, 255);
  transform: rotate(-90deg);
  transition: all ease-in-out 0.15s;
}
header nav.user_is_logged_in .nav-menu--wrapper .dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
header nav.user_is_logged_in .nav-menu--wrapper .dropdown-menu.active {
  visibility: visible;
  opacity: 1;
  top: 110%;
}
header nav.user_is_logged_in .nav-menu--wrapper .dropdown-menu a {
  padding: 10px 20px;
  width: 200px;
  color: black;
  text-decoration: none;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: bold;
}
header nav.user_is_logged_in .nav-menu--wrapper .dropdown-menu a:hover {
  background-color: #2F7ABE;
  color: white;
}
header nav.user_is_logged_in .nav-menu--wrapper.active {
  background-color: white;
}
header nav.user_is_logged_in .nav-menu--wrapper.active .profilPic--wrapper i {
  color: #2F7ABE;
  transform: rotate(-180deg);
}
header nav.user_is_logged_in .nav-menu--wrapper.active .profilPic--wrapper p {
  color: black;
}/*# sourceMappingURL=main.css.map */