@import url(https://fonts.googleapis.com/css?family=Poppins);

$neutral--100: #EAECEE;
$neutral--300: #CDD2D7;
$neutral--500: #A9B3BB;
$neutral--700: #7F8992;
$neutral--900: #3A3E43;

$black--main: #0f0f10;

$primary--100: #CFEDFF;
$primary--500: #5BC0FB;
$primary--900: #0070B3;

$secondary--100: #A2BFF8;
$secondary--500: #5975AD;
$secondary--900: #25385E;

$error-100: #FFB2B2;
$error-500: #D94141;
$error-900: #990000;

$success-100: #C2F2C2;
$success-500: #36B242;
$success-900: #00660A;

$warning-100: #FFE8B6;
$warning-500: #FAB92D;
$warning-900: #A47000;

$font-main: 'Poppins', Helvetica, Arial;